<h1>Friends</h1>
<div>
Download file:
<%= link_to CSV, friends_path(format:'csv')%>
</div><br>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Twitter</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <tr>
            <td><%= friend.first_name %></td>
            <td><%= friend.last_name %></td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.twitter %></td>
            <td><%= link_to 'show',friend_path(friend), class:"nav-link" %></td>
            <td><%= link_to 'Edit',edit_friend_path(friend), class:"nav-link" %></td>
            <td><%= link_to 'Destroy',friend_path(friend), data: {
                      method: :delete,
                      confirm: "Are you sure?"
                    }, class:"nav-link" %></td>
          
        </tr>   
      <% end %>
    </tbody>
</table>
</div>
<% if user_signed_in? %>
<%= link_to 'Add New Friend', new_friend_path, class:"btn btn-secondary" %>
<% end %>
<h4>Import CSV Files only</h4>

<%= form_tag import_friends_path, multipart: true do %>
  <%= file_field_tag :file, accept: 'text/csv', required: true%>
  <%= submit_tag "Import"%>
<% end %>